<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">
    <img src="../../assets/img/pokemon-logo.png" style="max-width: 130px" />
  </a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav flex-3 mr-auto tw-items-center">
      <li class="nav-item tw-mr-2 tw-mt-2">
        <button mat-raised-button color="accent" (click)="onSwitchLanguage()">
          {{ constant.menu.SWITCH_LANGUAGE | translate }}
        </button>
      </li>
      <li class="nav-item tw-mr-2 tw-mt-2">
        <button
          mat-raised-button
          color="primary"
          routerLinkActive="active"
          routerLink="/all-pokemon"
        >
          {{ constant.menu.ALL_POKEMON | translate }}
        </button>
      </li>
      <li class="nav-item tw-mr-2 tw-mt-2">
        <button
          mat-raised-button
          color="primary"
          routerLinkActive="active"
          routerLink="/my-pokemon"
        >
          {{ constant.menu.MY_POKEMON | translate }}
        </button>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="tw-mr-5 tw-w-80">
        <form>
          <mat-form-field class="tw-w-full">
            <mat-label>Pokemon Name</mat-label>
            <input type="text"
                   placeholder="Search..."
                   aria-label="Pokemon Name"
                   class="tw-h-3 tw-w-8"
                   matInput
                   [formControl]="myControl"
                   [matAutocomplete]="auto"
                   #autoInput
                   >
            <mat-autocomplete class="tw-w-8" #auto="matAutocomplete" (optionSelected)="optionSelected($event, autoInput)">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option | lowercase}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>   
      </li>
      <li class="nav-item">
        <button
          mat-raised-button
          color="warn"
          class="tw-mr-2"
          (click)="onRandomPokemon()"
        >
          {{ constant.menu.RANDOM_POKEMON | translate }}
        </button>
        <img src="../../assets/img/random-logo.png" style="width: 50px" />
      </li>
    </ul>
  </div>
</nav>
