a.container-card {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.card {
    margin: 10px 0;    
}

.card-body {
    margin: 0 auto;
    text-align: center;
}

.card.grass {
    background-color: var(--bg-poke-color-light-grass);
}

.card.fire {
    background-color: var(--bg-poke-color-light-fire);
}


.card.grass {
    background-color: var(--bg-poke-color-light-grass);
}

.card.normal {
    background-color: var(--bg-poke-color-light-normal);
}

.card.fighting {
    background-color: var(--bg-poke-color-light-fighting);
}

.card.flying {
    background-color: var(--bg-poke-color-light-flying);
}

.card.poison {
    background-color: var(--bg-poke-color-light-poison);
}

.card.ground {
    background-color: var(--bg-poke-color-light-ground);
}

.card.rock {
    background-color: var(--bg-poke-color-light-rock);
}

.card.bug {
    background-color: var(--bg-poke-color-light-bug);
}

.card.ghost {
    background-color: var(--bg-poke-color-light-ghost);
}

.card.steel {
    background-color: var(--bg-poke-color-light-steel);
}

.card.water {
    background-color: var(--bg-poke-color-light-water);
}

.card.electric {
    background-color: var(--bg-poke-color-light-electric);
}

.card.psychic {
    background-color: var(--bg-poke-color-light-psychic);
}

.card.ice {
    background-color: var(--bg-poke-color-light-ice);
}

.card.dragon {
    background-color: var(--bg-poke-color-light-dragon);
}

.card.dark {
    background-color: var(--bg-poke-color-light-dark);
}

.card.fairy {
    background-color: var(--bg-poke-color-light-fairy);
}