mat-drawer-container, mat-drawer {
    background-color: white;
}

mat-spinner {
    margin-top: 250px;
}

.pagination .page-link {
    cursor: pointer;
}

.drawer-container {
    position: fixed;
    top: 30%;
    bottom: 30%;
    height: 500px;

    border-radius: 10px;
}

@media (max-width: 767px) {
    h1 {
      font-size: 24px; /* Atur ukuran font sesuai kebutuhan */
    }
  }