mat-drawer-container, mat-drawer {
    background-color: white;
}

mat-spinner {
    margin-top: 250px;
}

.pagination .page-link {
    cursor: pointer;
}

.drawer-container {
    position: fixed;
    top: 30%;
    bottom: 30%;
    height: 500px;

    border-radius: 10px;
}