<h1 class="text-center">{{ constant.label.CATCH_YOUR_POKEMON | translate }}</h1>
<div style="margin-bottom: 200px">
  <div class="row justify-content-center align-items-center">
    <mat-spinner *ngIf="loading"></mat-spinner>
    <ng-container *ngIf="!loading">
      <app-pokemon-item
        *ngFor="let pokemon of pokemons; let i = index"
        [pokemon]="pokemon"
        [index]="i"
      ></app-pokemon-item>
    </ng-container>
  </div>
  <nav *ngIf="!loading">
    <ul class="pagination justify-content-center">
      <li class="page-item mr-2" [class.disabled]="isFirstPage">
        <button
          mat-raised-button
          color="primary"
          class="page-link"
          (click)="previousPage()"
        >
          Previous
        </button>
      </li>
      <li class="page-item" [class.disabled]="isLastPage">
        <button
          class="page-link"
          mat-raised-button
          color="accent"
          (click)="nextPage()"
        >
          Next
        </button>
      </li>
    </ul>
  </nav>
</div>
